@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

body {
  font-family: 'Noto Nastaliq Urdu', serif;
  margin: 0;
  padding: 0;
}

/* A4 Page Setup for Printing */
@media print {
  @page {
    size: A4;          /* Force A4 paper size */
    margin: 2mm !important;      /* Adjust margins as needed */
  }

  body {
    font-size: 14px !important;   /* Adjust font size for readability */
    line-height: 1.6;  /* Better spacing for Urdu script */
   
  }


}




